/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* VARIABLES */
:root {
	/* COLORS */
	--primary-bright-blue: hsl(245, 75%, 52%);
	--primary-pale-blue: hsl(225, 100%, 94%);

	--neutral-very-pale-blue: hsl(225, 100%, 98%);
	--neutral-desaturated-blue: hsl(224, 23%, 55%);
	--neutral-dark-blue: hsl(223, 47%, 23%);

	/* TYPOGRAPHY */
	--ff-redHatDisplay: 'Red Hat Display', sans-serif;

	/* FONT WEIGHT */
	--weight-500: 500;
	--weight-700: 700;
	--weight-900: 900;

	/* FONT SIZE */
	--fs-h1: 2.8rem;
	--fs-paragraph: 1.6rem;

}

/* RESET */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background: url(../images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
	font-family: var(--ff-redHatDisplay);
}


/* REUSABLE */

main {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

button {
	outline: none;
	border: none;
	display: block;
	text-align: center;
	width: 100%;
	padding-block: 20px;
	font-size: 1.3rem;
	font-weight: var(--weight-900);
	background: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.card__payment-btn {
	background: var(--primary-bright-blue);
	color: #ffffff;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow:  0px 8px 52px #c7c2ea;

}

.card__payment-btn:hover {
	background-color: hsl(245, 83%, 68%);
}

.card__cancel-btn {
	color: var(--neutral-desaturated-blue);
}

.card__cancel-btn:hover {
	color: var(--neutral-dark-blue);
}





/* CARD SECTIOn */

.card__container {
	max-width: 375px;
	background: #ffffff;
	border-radius: 28px;
	margin-inline: 33px;
	overflow: hidden;
	text-align: center;
	box-shadow:  0px 0px 10px var(--primary-pale-blue);
}

.banner {
	width: 100%;
}

.content__wrapper {
	padding: 30px 20px 20px 20px;
}

.content__wrapper h1 {
	font-size: 2.5rem;
	font-weight: var(--weight-900);
	color: var(--neutral-dark-blue);
}

.content__wrapper p {
	padding-inline: 30px;
	margin-block: 15px;
	line-height: 2.8rem;
	font-size: 1.6rem;
	color: var(--neutral-desaturated-blue);
}

.card__plan-info,
.card__right-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__plan-info {
	background: var(--neutral-very-pale-blue);
	padding-block: 20px;
	border-radius: 15px;
	margin-block: 25px;
}

.card__right-info img {
	padding-inline: 20px 25px;
}

.card__right-info h2 {
	color: var(--neutral-dark-blue);
	font-weight: var(--weight-900);
}

.card__right-info span {
	display: block;
	color: var(--neutral-desaturated-blue);
	margin-top: 2px;
	font-weight: var(--weight-500);
}

.card__plan-info a {
	padding-inline: 20px;
	font-weight: var(--weight-700);
	font-size: 1.4rem;
}

.card__plan-info a:hover {
	text-decoration: none;
}



/* Media Query  */
@media (min-width: 768px) {



	.card__container {
		min-width: 400px;
	}

	.content__wrapper {
		padding: 30px 30px 20px 30px;
	}

	.content__wrapper p {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.card__plan-info {
		margin-block: 0px 25px;
	}
}